
<div class="row">
  <div class="col-sm-6">
    <div id="success" class="alert alert-success {{#if noMessage}}hide{{/if}}">
      {{ successMsg }}
    </div>
  </div>
</div>

{{# each products }}
    <div class="row">
      {{# each this }}
    <div class="col-sm-4">
    <div class="card thumbnail" style="width: 18rem;">
      {{!-- <div class="thumbnail"></div> --}}
      
      <img class="card-img-top" src="{{ this.imagePath }}" alt="Card image cap" class="img-responsive">
      <div class="card-body">
        <h5 class="card-title">{{ this.title }}</h5>
        <p class="card-text description">{{ this.description }}</p>
        <div class="d-flex justify-content-between">
          <div class="price">${{ this.price }}</div>
          <div class="">
          <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    {{/each}}
  </div>
{{/each}}




